<% action = (type == :edit ? edit_band_url(band) : band_url(band)) %>
<% method = (type == :edit ? 'get' : 'delete') %>
<% button_txt = (type == :edit ? 'Edit' : 'Delete') %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= auth_token %>
  <input type="submit" value="<%= button_txt%> Band">
</form>
